@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    box-sizing: border-box
}

main {
    position: relative;
    z-index: 990;
}

header {
    position: relative;
    z-index: 999;
}

aside {
    z-index: 999;
}

.contactos-links {
    z-index: 998;
}

header .item.active a {
    border-bottom: 2px solid #6366f1;
}

/* ------------ESTILOS PARA LA BARRA DE NAVEGACION----------------- */

/* Estilos para el botón de menú */
.menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

/* Estilos para el menú de navegación en dispositivos móviles */
@media (max-width: 750px) {
    aside {
        position: relative;
        z-index: 99;
    }

    .menu-toggle {
        display: block;
    }

    #navMenu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(208, 212, 255, 0.993);
        z-index: 9999;
        padding: 2rem;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    #navMenu .item {
        color: white;
        font-size: 25px;
        margin-top: 20px;
    }

    #navMenu.open {
        transform: translateX(0);
    }

    .menu-toggle.open {
        position: fixed;
        top: 2%;
        right: 5%;
        font-size: 35px;
        color: rgb(255, 255, 255);
        z-index: 9999;
    }
}


/* ------------ESTILOS PARA LA BARRA DE NAVEGACION----------------- */

.area-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* Esto asegurará que el área de animación esté detrás del contenido principal */
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(185, 192, 255, 0.822);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.container_project {
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
}


.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* FOOTER SECTION */

footer {
    height: 15vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}


@media screen and (max-width: 600px) {

    #contact,
    footer {
        height: 40vh;
    }

    footer nav {
        margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
}